<h2><%= @twitter_client.user.screen_name %>'s Twitter feed</h2>
<%= image_tag @twitter_client.user.profile_image_url %>
<% @tweets.each do |tweet| %>
  <section class="tweet">
    <header class="tweet-header">
      
    </header>
    <div class="tweet-content">
      <%= tweet.text %>
      <% if tweet.media? %>
        <% for media in tweet.media %>
          <%= image_tag(media.media_url)  %>
        <% end %>
      <% end %>
      <%= tweet.hashtags? ? tweet.hashtags : "" %>
    </div>
  </section>
<% end %>
