<div class="container home-index-wrapper">
<% if user_signed_in? %>

  <% auths = UserAuthentication.all.select { |auth| auth.user_id == current_user.id } %>
  <% has_twitter = auths.select { |auth| auth.params.provider == "twitter" } %>
  <% has_linkedin = auths.select { |auth| auth.params.provider == "linkedin" } %>
  <% has_instagram = auths.select { |auth| auth.params.provider == "instagram" } %>

  <!-- twitter -->
  <% if has_twitter.length > 0 %>
    <%= link_to(tweets_path) do  %>
      <div class="grid_4 thumb twitter-thumb">
        <h3>Twitter</h3>
        <span class="twitter-icon"></span>
      </div>
    <% end %>
  <% else %>
    <div class="grid_4 thumb twitter-thumb">
      <%= link_to "Add Your Twitter Account", user_omniauth_authorize_path(:twitter) %>
    </div>
  <% end %>

  <% if has_linkedin.length > 0 %>
    <%= link_to(linkedin_index_path) do %>
      <div class="grid_4 thumb linkedin-thumb">
        <h3>Linked In</h3>
        <span class="linkedin-icon"></span>
      </div>
    <% end %>
  <% else %>
    <div class="grid_4 thumb linkedin-thumb">
      <%= link_to "Add Your Linked In Account", user_omniauth_authorize_path(:linkedin) %>
    </div>
  <% end %>

  <% if has_instagram.length > 0 %>
    <%= link_to(instagram_index_path) do %>
      <div class="grid_4 thumb instagram-thumb">
        <h3>Instagram</h3>
        <span class="instagram-icon"></span>
      </div>
    <% end %>
  <% else %>
    <div class="grid_4 thumb instagram-thumb">
      <%= link_to "Add Your Instagram Account", user_omniauth_authorize_path(:instagram) %>
    </div>
  <% end %>

  <!-- rss feeds -->
  <% if @user_feeds.length > 0  %>
    <% @user_feeds.each do |feed| %>
      <%= link_to(feed) do  %>
        <div class="grid_4 thumb feed-thumb">
          <h3><%= feed.title %></h3>
          <p>Added by: <%= @users[@user_feeds.index(feed)] %></p>
          <span class="feed-icon"></span>
        </div>
      <% end %>
    <% end %>
  <% end %>

<% else %>
  <!-- rss feeds for no logged in users -->
  <% @feeds.each do |feed| %>
    <%= link_to(feed) do %>
      <div class="grid_4 thumb feed-thumb">
        <h3><%= feed.title %></h3>
        <p>Added by: <%= @users[@feeds.index(feed)] %></p>
        <span class="feed-icon"></span>
      </div>
    <% end %>
  <% end %>

<% end %>

</div>