<h1>Gator says hello world</h1>
<p><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></p>
<p><%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %></p>
<p><%= link_to "Sign in with Instagram", user_omniauth_authorize_path(:instagram) %></p>
<p><%= link_to "Sign in with Linked In", user_omniauth_authorize_path(:linkedin) %></p>
<p><%= link_to "Sign in with Google Plus", user_omniauth_authorize_path(:gplus) %></p>