<!DOCTYPE html>
<html>
  <head>
    <title>Gator</title>
    <script src="//use.typekit.net/vum4rex.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render template: 'menu/show'  %>
    <%= render 'layouts/deviseflashes'  %>
    <%= render 'layouts/nav' %>
    <div id="container" class="main-content">
      <%= yield %>  
    </div>
  </body>
</html>